.About {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.About input {
  margin-top: 10px;
}

.titleAbout h1 {
  font-size: 32px;
}

.aboutForm {
  margin-top: 40px;
  padding: 20px;
  max-width: 500px;
  background-color: #dfdfdf;
}

.toSubmit {
  margin-top: 20px;
}

.registrat {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .About {
    padding-bottom: 15rem;
  }

  .titleAbout h1 {
    font-size: 52px;
  }
}
