.Caracel {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #dfdfdf;
}

.titleCaracel {
 margin-bottom: 20px;
}

.titleCaracel h1 {
  font-size: 28px;
  color: #333;
}

.image {
  margin: 0 auto;
  max-width: 520px;
  height: auto;
}


@media (min-width: 576px) {
  .Caracel {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .titleCaracel {
   margin-bottom: 60px;
  }

  .titleCaracel h1 {
    font-size: 52px;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}
