.Footer {
	padding: 40px 0 40px 0;
	background-color: #734f69;
}

.brand {
	margin-left: 2rem;
	text-decoration: none;
	font-weight: bold;
  font-size: 28px;
  color: #fff;
}

.brand:hover {
  text-decoration: none;
  color: #333;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  width: 200px;
}

.navLink {
  font-size: 24px;
  color: #fff;
}

.navLink:hover,
.navLink:focus {
  color: #333;
}
