.links ul {
  margin: 0;
  padding: 0;
}
.links legend {
  font-size: 24px;
  font-weight: bold;
}

.links a {
  text-decoration: none;
  color: #3c3c3c;
}

.links a:hover {
  color: #ccc;
}

.links li {
  margin-left: 5px;
  padding: 5px 0 5px 0;
  font-size: 18px;
  font-weight: 600;
}
