.Regitrant {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.titleAbout h1 {
  font-size: 32px;
}

.aboutForm {
  margin-top: 40px;
  padding: 20px;
  max-width: 500px;
  background-color: #dfdfdf;
}

.toSubmit {
  margin-top: 20px;
}

.Regitrant input {
  margin-top: 10px;
}

@media (min-width: 576px) {
  .Regitrant {
    padding-bottom: 10rem;
  }

  .titleAbout h1 {
    font-size: 52px;
  }
}
